p
{
	
	color: white;
	background: black;
	font-style: oblique;

}
 p.hye, p#test
{
	border-right: 5px solid black;
	color: black;
	background: yellow;
	height: 100px;
	width: 500px;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	font-family: Brush Script MT, Brush Script Std, cursive;
	
	

}
p#backimg
{
	width: 840px;
	height: 340px;
	background-image: url('https://www.ubp.com/files/live/sites/ubp/files/banner_newsroom/200124_Vignette_Web_Detail.jpg');
    background-repeat: no-repeat;
}
a{
	border: 1px solid black;
	border-color: rgb(17, 12, 22);
	background-color: rgb(125, 184, 184);
	border-radius: 5px;
}
a:hover
{ 
	font-weight: bolder;
	border-width: 1px;
	border-style: dotted;
	border-color: rgb(17, 12, 22);
	background-color: rgb(75, 75, 231);
	
	
}

a:active
{
	background-color: rgb(7, 7, 41);
}
span#butt1 a:visited
{
	background-color: chartreuse;
}
.btn1
{
	border-width: 1px;
	border-color: rgb(17, 12, 22);
	cursor: pointer;
	background-color: rgb(77, 219, 219);
	border-radius: 5px;

}
.btn1:hover
{
	color: black;
	background-color: rgb(135, 135, 219);
	font-weight: bolder;
	
}
p#para
{
	border-left: none;
	width: 400px;
	margin: 40px auto;
	padding: 30px;
	background-image: url('https://www.freedigitalphotos.net/images/img/homepage/394230.jpg');
	border-radius: 5px;
	position: center center;
	border: 2px solid black;
	background-color: darkgoldenrod;
}
p#para1
{
	border: none;
	width: 400px;
	margin-left: 400px;
	background-image: url(https://www.freedigitalphotos.net/images/img/homepage/394230.jpg);
	background-position: 50px bottom;
    text-align: center;
}
span#a
{
	margin-left: 500px;
	background-color: blue;
	border: 2px solid green;

}
span#b
{
	background-color:yellow;
	border: 2px solid green;
	
}
span#c
{
	border: 2px solid green;
	background-color: red;
	
}
div#navi
{
	background-color: green;
}
div#navi ul
{
	overflow: auto;
}
div#navi li
{
	
	float: left;
	list-style: none;
	
}
div#navi li a
{
	text-decoration: none;
	
	padding:10px 20px;
	border: none;

	
}
div#navi li a :hover
{
	background-color: indigo;
}
