doctype html
html
  head
    title D+ Academy 
    block scripts
    block style      
  body
    nav#navbar        

         ul             
             img(src="./static/img/logo.png" , id="limg")        
             p#logo 
                 | D+ 
             li #[a(href="/") Home]
             li #[a(href="/") About]
             li #[a(href="/") Services]
             li #[a(href="/") Class Info]
             li #[a(href="/") Contact Us]  
    block content
    block foot
    