doctype html
html
  head
    title D+ Academy
    style
        include ../static/style.css
  body
        nav#navbar        

         ul             
             img(src="./static/img/logo.png" , id="limg")        
             p#logo 
                 | D+ 
             li #[a(href="/") Home]
             li #[a(href="/") About]
             li #[a(href="/") Services]
             li #[a(href="/") Class Info]
             li #[a(href="/") Contact Us]

        section.bac
         section#welcome
            | Welcome to Dance + Academy
         section#quote
            |  If you hit a wall , climb over it , crawl under it , or dance on top of it .

        section.goal
         h1 Our Goal
         div.gbox
             | Dance like No Tomorrow
             div.gcontent
                 div.gimg
                      img(src="./static/img/1.png" , class="img") 
                 div.gcont
                     p.bod
                          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, praesentium?
             
         div.gbox
             | Dance like No Tomorrow
             div.gcontent
                 div.gimg
                      img(src="./static/img/2.png" , class="img")
                 div.gcont
                     p.bod
                          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, praesentium?
         div.gbox
             | Dance like No Tomorrow
             div.gcontent
                 div.gimg
                      img(src="./static/img/3.png" , class="img")
                 div.gcont
                     p.bod
                          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, praesentium?
        
        section.sponsorsection
         h1 Our Trusted Sponsors
             div#sponsor
                img(src="./static/img/s1.png" , class="simg")
                img(src="./static/img/s2.png" , class="simg")
                img(src="./static/img/s3.png" , class="simg")
                img(src="./static/img/s4.jpg" , class="simg")
                img(src="./static/img/s5.png" , class="simg")
        
        footer#footer
              | Copyright Ⓒ 2020 Tushar Singh | All Rights Reserved to the Creator
            


        script
            include ../static/index.js